<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mabang.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 百度地图 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>


    <application
        android:name=".MaBangApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 百度地图 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="OP1gzhDCTZc5dYrLXB5gLT2dA6LLr720" >
        </meta-data>

        <activity android:name=".activity.LaunchActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".mapdemo.BaseMapDemo"/>
        <activity android:name=".mapdemo.LocationDemo"/>
        <activity android:name=".mapdemo.OverlayDemo"/>

        <activity android:name=".activity.user.UserLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.user.UserHomeActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".activity.user.AdDetailsActivity"/>
        <activity android:name=".activity.user.AdPreselectActivity"/>

        <activity android:name=".activity.worker.WorkerLoginActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".activity.worker.WorkerHomeActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustResize|stateHidden"
            />
        <activity android:name=".activity.worker.PictureUploadingActivity"/>


        <!-- 百度地图 -->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"> </service>
        <!-- Android7.0适配 1 [文件管理]FileProvider配置 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mabang.android.file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Glide引用将RGB565改成ARGB8888需配置 -->
        <meta-data
            android:name="com.mabang.android.utils.GlideConfigUtil"
            android:value="GlideModule" />

    </application>

</manifest>